[submodule ".registry"]
	path = .registry
	url = https://github.com/zackandkatie/zackandkatie.r-universe.dev
	branch = HEAD
[submodule "convert"]
	path = convert
	url = https://github.com/zackandkatie/convert
